extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				a.btn.btn-default(href='#') View Details
